.footer {
    grid-column: 1 / 11;
    grid-row: 4 / 5;
    @include flexPosition(space-around);
    padding: 5rem 0;
    border-top: 0.1rem solid color(primary);
}

.footer-nav {
    @include footerList;
}

.contact-list {
    @include footerList;
}