@mixin navigation {
    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    
    &-item {
        list-style: none;
    }

    &-link {
        color: color(primary);
        text-decoration: none;
        font-size: size(sm);
        transition: all 0.3s;

        &:hover {
            color: lighten(color(primary), 40%);
        }
    }
}

@mixin flexPosition($justCont: center, $algItem: center) {
    display: flex;
    justify-content: $justCont;
    align-items: $algItem;
}

@mixin footerList {
    &-heading {
        font-size: size(lg);
        color: color(primary);
    }

    &-item {
        list-style: none;
        margin: 1rem 0;
    }

    &-link {
        font-size: size(xs);
        text-decoration: none;
        color: lighten(color(primary), 15%);
        transition: color 0.2s;

        &:hover {
            color: lighten(color(primary), 35%);
        }
    }
}